<h1>Stupid Coaching</h1>

<div>
<div class="question">
  <%= @question %>
</div>
<div class="answers">
<% if @question == nil %>
<%= "wrong input" %>
<% elsif @question == "I am going to work right now!" %>
 <%= @answers[1] %>
 <% elsif @question.include?("?") %>
    <%= @answers[2] %>
  <% else %>
  <%= @answers[3] %>
<% end %>
</div>
<div class="link"><%= link_to 'Ask a new question', "/ask" %></div>
</div>
